## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config_key import g_key



# Configure gmaps API key
gmaps.configure(api_key= g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Saint-Paul,RE,-21.0096,55.2707,77.11,81,22,2.98,few clouds,2022-04-11 00:12:07
1,1,Busselton,AU,-33.6500,115.3333,54.82,78,74,8.43,broken clouds,2022-04-11 00:12:07
2,2,Avarua,CK,-21.2078,-159.7750,84.25,74,40,3.44,light rain,2022-04-11 00:12:07
3,3,Barrow,US,71.2906,-156.7887,1.42,78,100,19.57,haze,2022-04-11 00:12:08
4,4,Jamestown,US,42.0970,-79.2353,37.18,53,0,10.36,clear sky,2022-04-11 00:12:08

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 75
What is the maximum temperature you would like for your vacation? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Saint-Paul,RE,-21.0096,55.2707,77.11,81,22,2.98,few clouds,2022-04-11 00:12:07
2,2,Avarua,CK,-21.2078,-159.7750,84.25,74,40,3.44,light rain,2022-04-11 00:12:07
9,9,Taoudenni,ML,22.6783,-3.9836,78.49,8,2,9.98,clear sky,2022-04-11 00:12:11
10,10,Rikitea,PF,-23.1203,-134.9692,79.07,74,4,17.29,light rain,2022-04-11 00:12:11
11,11,Gondanglegi,ID,-7.7479,112.0132,77.70,86,14,5.95,few clouds,2022-04-11 00:12:12
15,15,Lamu,KE,-2.2717,40.9020,81.97,75,14,13.22,few clouds,2022-04-11 00:12:14
17,17,Vaini,TO,-21.2000,-175.2000,82.56,78,40,9.22,scattered clouds,2022-04-11 00:12:15
20,20,Butaritari,KI,3.0707,172.7902,79.88,79,94,7.36,moderate rain,2022-04-11 00:12:17
22,22,Nicoya,CR,10.1483,-85.4520,83.62,58,95,10.69,overcast clouds,2022-04-11 00:12:18
28,28,Atuona,PF,-9.8000,-139.0333,79.43,77,13,15.26,few clouds,2022-04-11 00:12:01

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                202
City                   202
Country                202
Lat                    202
Lng                    202
Max Temp               202
Humidity               202
Cloudiness             202
Wind Speed             202
Current Description    202
Date                   202
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_cities = preferred_cities_df.dropna()
clean_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Saint-Paul,RE,-21.0096,55.2707,77.11,81,22,2.98,few clouds,2022-04-11 00:12:07
2,2,Avarua,CK,-21.2078,-159.7750,84.25,74,40,3.44,light rain,2022-04-11 00:12:07
9,9,Taoudenni,ML,22.6783,-3.9836,78.49,8,2,9.98,clear sky,2022-04-11 00:12:11
10,10,Rikitea,PF,-23.1203,-134.9692,79.07,74,4,17.29,light rain,2022-04-11 00:12:11
11,11,Gondanglegi,ID,-7.7479,112.0132,77.70,86,14,5.95,few clouds,2022-04-11 00:12:12

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saint-Paul,RE,77.11,few clouds,-21.0096,55.2707,
2,Avarua,CK,84.25,light rain,-21.2078,-159.7750,
9,Taoudenni,ML,78.49,clear sky,22.6783,-3.9836,
10,Rikitea,PF,79.07,light rain,-23.1203,-134.9692,
11,Gondanglegi,ID,77.70,few clouds,-7.7479,112.0132,
15,Lamu,KE,81.97,few clouds,-2.2717,40.9020,
17,Vaini,TO,82.56,scattered clouds,-21.2000,-175.2000,
20,Butaritari,KI,79.88,moderate rain,3.0707,172.7902,
22,Nicoya,CR,83.62,overcast clouds,10.1483,-85.4520,
28,Atuona,PF,79.43,few clouds,-9.8000,-139.0333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saint-Paul,RE,77.11,few clouds,-21.0096,55.2707,Boucan Canot
2,Avarua,CK,84.25,light rain,-21.2078,-159.7750,Paradise Inn
9,Taoudenni,ML,78.49,clear sky,22.6783,-3.9836,
10,Rikitea,PF,79.07,light rain,-23.1203,-134.9692,People ThankYou
11,Gondanglegi,ID,77.70,few clouds,-7.7479,112.0132,pondok pesantren mamba'ul 'ulum selo rejo
15,Lamu,KE,81.97,few clouds,-2.2717,40.9020,Lamu House
17,Vaini,TO,82.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
20,Butaritari,KI,79.88,moderate rain,3.0707,172.7902,Isles Sunset Lodge
22,Nicoya,CR,83.62,overcast clouds,10.1483,-85.4520,Las Cabinas Del Sueño
28,Atuona,PF,79.43,few clouds,-9.8000,-139.0333,Villa Enata

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Saint-Paul,RE,77.11,few clouds,-21.0096,55.2707,Boucan Canot
2,Avarua,CK,84.25,light rain,-21.2078,-159.7750,Paradise Inn
10,Rikitea,PF,79.07,light rain,-23.1203,-134.9692,People ThankYou
11,Gondanglegi,ID,77.70,few clouds,-7.7479,112.0132,pondok pesantren mamba'ul 'ulum selo rejo
15,Lamu,KE,81.97,few clouds,-2.2717,40.9020,Lamu House
17,Vaini,TO,82.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
20,Butaritari,KI,79.88,moderate rain,3.0707,172.7902,Isles Sunset Lodge
22,Nicoya,CR,83.62,overcast clouds,10.1483,-85.4520,Las Cabinas Del Sueño
28,Atuona,PF,79.43,few clouds,-9.8000,-139.0333,Villa Enata
29,Hithadhoo,MV,83.53,few clouds,-0.6000,73.0833,Scoop Guest House

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))